.for-who-section {
  background-color: #121214;
  color: #E1E1E6;
  padding: 5rem 1.25rem;
  text-align: center;
}

.for-who-container {
  max-width: 75rem;
  margin: 0 auto;
}

.for-who-title {
  color: #04D361; 
  font-size: 1.5rem;
}

.for-who-subtitle {
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 40rem; /* Define uma largura máxima para o elemento */
  margin: 0 auto; /* Centraliza o elemento horizontalmente */
  text-align: center; /* Centraliza o texto dentro do elemento */
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.for-who-description {
  font-size: 1.25rem;
  margin-bottom: 3rem;
  color: #A8A8B3;
}

.for-who-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;  
}

.for-who-item {
  display: flex;
  max-width: 300px;
  padding: 1.25rem;  
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  text-align: center;
}

.item-icon {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1.25rem;
  background-size: cover;
  background-position: center;
}

.check-icon {
  background: url('../assets/check.svg') no-repeat center center;
  background-size: cover;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  color: #A8A8B3;
}

@media (max-width: 768px) {
  .for-who-content span {
    font-size: 1rem;
  }

  .for-who-content h2 {
    font-size: 2rem;
  }

  .for-who-content p {
    font-size: 1rem;
  }
}
