.hero-features {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
    max-width: 37.5rem;
  }
  
  .feature {
    display: flex;
    align-items: center;
    color: #E1E1E6;
  }
  
  .feature-icon {
    height: 1.5rem;
    margin-right: 0.625rem;
  }
  
  .feature-text {
    font-size: 1rem;
    color: #E1E1E6;
  }

  @media (max-width: 768px) {
    .feature-text {
      font-size: 0.75rem;
    }
  }
  