.book-page-container {
  display: flex;
  /* flex-direction: row; */
  height: 100vh;
}

.sidebar {
  width: 16rem;
  background-color: #333;
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar.closed {
  width: 0px;
  padding: 0px;
}

.content {
  flex-grow: 1;
  padding: 20px;
  transition: all 0.3s ease;
  margin-top: 100px;
  width: 100%;
}

.content.expanded {
  width: 100%;
}

.toggle-menu {
  display: flex;
}

.toggle-menu-btn {
  position: absolute;
  padding: 5px;
  margin: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;

}

.logo img {
  /* display: flex; */
  padding: 4px;
  height: 3rem;
  margin-top: 70px;
  margin-bottom: 20px;
}

.module-list {
  list-style: none;
  padding: 0;
}

.module-header {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.down {
  transform: rotate(90deg);
}

.sub-options {
  padding-left: 20px;
}

.sub-option {
  padding: 8px;
}

.back-button {
  padding: 10px;
  background-color: #ff3b3b;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}
