.book-page-container {
  display: flex;
  /* flex-direction: row; */
  /* height: 100vh; */
}

.sidebar {
  width: 16rem;
  background-color: #171717;
  transition: width 0.3s ease;
  overflow: hidden;
  height: 100vh;
}

.sidebar.closed {
  width: 0px;
  padding: 0px;
}

.content {
  flex-grow: 1;
  padding: 20px;
  transition: all 0.3s ease;
  margin-top: 100px;
  width: 100%;
}

.content.expanded {
  width: 100%;
}

.content-page {
  padding: 2rem;
  width: 100%;
  background-color: #212121;
}

.toggle-menu {
  display: flex;
}

.toggle-menu-btn {
  position: absolute;
  padding: 5px;
  margin: 5px;
  background-color: #212121;
  color: #fff;
  cursor: pointer;

}

.logo-page img {
  /* display: flex; */
  padding: 4px;
  height: 3rem;
  margin-top: 70px;
  margin-bottom: 20px;
}

.chapter-content h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4caf50;
}

.chapter-content li img {
  width: 50%;
  display: block;        /* Remove espaçamentos indesejados em imagens inline */
  margin: 0 auto; 
}

.module-list {
  list-style: none;
  padding: 0 1rem;
}

.module-list li {
  list-style: none;
  padding: 2px;
  margin-left: 10px;
}

.button-chapter {
  color: #fff;
  font-size: 1rem;
  margin-left: 5px;
  letter-spacing: 1px;
}

.module-header {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.module-list h3 {
  color: #4caf50;
  cursor: pointer;
}

.module-arrow {
  color: #4caf50;
}

.module-list .list-evaluation {
  margin-left: 6px;  
  letter-spacing: 1px;
  color: #afa54c;
}

.chapter-content li {
  list-style: none;
  margin-bottom: 1rem;
  text-indent: 1.5em;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.down {
  transform: rotate(90deg);
}

.sub-options {
  padding-left: 20px;
}

.sub-option {
  padding: 8px;
}

.back-button {
  padding: 10px;
  background-color: #ff3b3b;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

.button-next {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 32rem;
  }

  .module-list .list-evaluation {
    margin-left: 10px;
  }

  .chapter-content li img {
    width: 100%;
  }
}
